@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_1_0000_7cf.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_1_0000_7cf.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_1_0000_7cf.ttf') format('truetype');
      unicode-range: U+0000-7cf;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_2_7cf_f9e.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_2_7cf_f9e.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_2_7cf_f9e.ttf') format('truetype');
      unicode-range: U+7cf-f9e;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_3_f9e_176d.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_3_f9e_176d.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_3_f9e_176d.ttf') format('truetype');
      unicode-range: U+f9e-176d;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_4_176d_1f3c.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_4_176d_1f3c.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_4_176d_1f3c.ttf') format('truetype');
      unicode-range: U+176d-1f3c;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_5_1f3c_270b.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_5_1f3c_270b.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_5_1f3c_270b.ttf') format('truetype');
      unicode-range: U+1f3c-270b;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_6_270b_2eda.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_6_270b_2eda.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_6_270b_2eda.ttf') format('truetype');
      unicode-range: U+270b-2eda;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_7_2eda_36a9.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_7_2eda_36a9.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_7_2eda_36a9.ttf') format('truetype');
      unicode-range: U+2eda-36a9;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_8_36a9_3e78.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_8_36a9_3e78.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_8_36a9_3e78.ttf') format('truetype');
      unicode-range: U+36a9-3e78;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_9_3e78_4647.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_9_3e78_4647.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_9_3e78_4647.ttf') format('truetype');
      unicode-range: U+3e78-4647;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_10_4647_4e16.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_10_4647_4e16.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_10_4647_4e16.ttf') format('truetype');
      unicode-range: U+4647-4e16;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_11_4e16_55e5.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_11_4e16_55e5.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_11_4e16_55e5.ttf') format('truetype');
      unicode-range: U+4e16-55e5;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_12_55e5_5db4.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_12_55e5_5db4.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_12_55e5_5db4.ttf') format('truetype');
      unicode-range: U+55e5-5db4;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_13_5db4_6583.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_13_5db4_6583.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_13_5db4_6583.ttf') format('truetype');
      unicode-range: U+5db4-6583;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_14_6583_6d52.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_14_6583_6d52.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_14_6583_6d52.ttf') format('truetype');
      unicode-range: U+6583-6d52;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_15_6d52_7521.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_15_6d52_7521.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_15_6d52_7521.ttf') format('truetype');
      unicode-range: U+6d52-7521;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_16_7521_7cf0.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_16_7521_7cf0.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_16_7521_7cf0.ttf') format('truetype');
      unicode-range: U+7521-7cf0;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_17_7cf0_84bf.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_17_7cf0_84bf.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_17_7cf0_84bf.ttf') format('truetype');
      unicode-range: U+7cf0-84bf;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_18_84bf_8c8e.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_18_84bf_8c8e.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_18_84bf_8c8e.ttf') format('truetype');
      unicode-range: U+84bf-8c8e;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_19_8c8e_945d.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_19_8c8e_945d.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_19_8c8e_945d.ttf') format('truetype');
      unicode-range: U+8c8e-945d;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_20_945d_9c2c.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_20_945d_9c2c.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_20_945d_9c2c.ttf') format('truetype');
      unicode-range: U+945d-9c2c;
    }@font-face {
      font-family: 'HarmonyOS_Sans_SC_Black';
      src: url('./font-pieces/HarmonyOS_Sans_SC_Black_21_9c2c_9fcb.woff2') format('woff2'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_21_9c2c_9fcb.woff') format('woff'),
        url('./font-pieces/HarmonyOS_Sans_SC_Black_21_9c2c_9fcb.ttf') format('truetype');
      unicode-range: U+9c2c-9fcb;
    }